<h1>Things you have vetted</h1>
<% current_user.things.each do |t| %>
<%= link_to t.name, thing_path(t) %><br>
<% end %>

<%= button_to "Add a Thing", new_thing_path, method: :get %>

    
     
     	
      
   


