// Place all the styles related to the sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#background {
     
     font-family: 'Allerta Stencil', sans-serif;
     color: #c41919;
     font-size: 100px;
     border: 20px solid #c41919;
     text-align: center;
     margin: 250px 300px 100px 300px;
     transform:rotate(-7deg);
	-ms-transform:rotate(-7deg); /* IE 9 */
	-webkit-transform:rotate(-7deg); 

}

.signlink {
	margin: 0 500px 30px 800px;
	font-size: 36px;
	font-family: 'Permanent Marker', cursive;

}


 //ALLERTA STENCIL FOR APPROVED
 //PERMANENT MARKER FOR HEADERS
 //KEANIA ONE FOR APPROVED
 //KENIA FOR APPROVED
 //FEDERO FOR THING FIELDS
 //REENIE BEANIE FOR THING FIELDS