
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">	
<div id="background">

<p>VETTED</p>
</div>
</div>

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">	
<div class="signlink">
<%= link_to "Sign In", signin_path %>
</div>
</div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">	
<div class="signlink">
<%= link_to "Sign Up", signup_path %>
</div>
</div>

</div>